<td class="icon">{{>icon type=(file-type-icon type)}}</td>
<td class="name"><a href="{{file-addr key name}}">{{name}}</a></td>
<td class="mime-type">{{mime}}</td>
<td class="file-size">{{byte-size size}}</td>
<td class="ts">{{moment-format timestamp}}</td>
<td class="buttons">{{>icon type='remove'}}</td>
